Repository tukcomCD2024/DroidBlossom, pull requests merged in 2024-06, with the labels that each got.

#462 fix : 그룹 요청 수락 동시성 문제 해결 , 그룹에 대한 인원정보 API 개발
  .gitignore
  backend/core/build.gradle
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleCreateRequestDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/reqeust/GroupCapsuleCreateRequest.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/facade/GroupCapsuleFacade.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsuleskin/service/CapsuleSkinService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/query/FriendQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/service/command/FriendCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/api/query/GroupQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/api/query/GroupQueryApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/CompleteGroupSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupDetailDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupDetailTotalDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupMemberDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupMemberWithRelationDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupDetailResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupMemberDetailResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupMemberInfoResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupMemberInfosResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupMemberWithRelationResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupSummaryResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/response/GroupsSliceResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/repository/GroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/repository/GroupQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/service/command/GroupCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/service/query/GroupQueryService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member/repository/MemberRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member/service/MemberService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/command/MemberGroupCommandApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/command/MemberGroupCommandApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/query/MemberGroupQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/query/MemberGroupQueryApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/dto/GroupAcceptNotificationDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/facade/MemberGroupFacade.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/groupInviteRepository/GroupInviteQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/groupInviteRepository/GroupInviteRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/memberGroupRepository/MemberGroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/memberGroupRepository/MemberGroupQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/memberGroupRepository/MemberGroupRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupQueryService.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedisConfig.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedisProperties.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedissonConfig.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedissonLock.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedissonLockAspect.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/ErrorCode.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/exception/RedisLockException.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/util/RedisLockSpELParser.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/util/TagGenerator.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/RedissonTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/RedissonTestContainer.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/repository/MemberGroupQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupCommandServiceTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/infrastructure/RedisConcurrencyTest.java
Labels: feat

#464 feat : 친구 초대 받은 목록, 보낸 목록 조회 API 추가 #457
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/query/FriendQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/query/FriendQueryApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/data/response/FriendRequestsSliceResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/service/query/FriendQueryService.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/util/SliceUtil.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/repository/FriendInviteQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/repository/MemberFriendQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/service/FriendQueryServiceTest.java
Labels: feat

#465 feat : 그룹 초대 받은 목록, 보낸 목록 API 추가
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/service/command/GroupCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/query/MemberGroupQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/api/query/MemberGroupQueryApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/dto/GroupInviteSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/dto/GroupSendingInviteMemberDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/dto/GroupSendingInvitesRequestDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/response/GroupReceivingInviteSummaryResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/response/GroupReceivingInvitesSliceResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/response/GroupSendingInviteMemberResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/response/GroupSendingInvitesResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/group_invite_repository/GroupInviteQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/group_invite_repository/GroupInviteQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/group_invite_repository/GroupInviteRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupQueryService.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/group/service/GroupCommandServiceTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/repository/GroupInviteQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/repository/MemberGroupQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/service/MemberGroupCommandServiceTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/infrastructure/RedisConcurrencyTest.java
Labels: feat

#466 feat : 친구 초대 삭제 API 추가 및 기존 API 동시성 제어, 검증 추가 #457
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/command/FriendCommandApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/command/FriendCommandApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/data/dto/FriendInviteMemberIdsDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/data/dto/FriendInviteNotificationDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/entity/FriendInvite.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/exception/FriendInviteDuplicateException.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/exception/SelfFriendOperationException.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/service/command/FriendCommandService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member/entity/Member.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/ErrorCode.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/GlobalExceptionHandler.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/exception/InternalServerException.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/FriendInviteMemberIdsDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/repository/friend_invite/FriendInviteQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/service/command/FriendCommandServiceTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/service/query/FriendQueryServiceTest.java
Labels: feat, fix

#471 fix : 그룹 초대 전 친구 리스트 수정
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/api/query/FriendQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/repository/member_friend/MemberFriendQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/friend/service/query/FriendQueryService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/api/query/GroupQueryApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/api/query/GroupQueryApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/repository/GroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member/repository/MemberRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/data/response/GroupSendingInviteMemberResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/group_invite_repository/GroupInviteQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/group_invite_repository/GroupInviteQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/config/redis/RedissonLockAspect.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/FriendDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/friend/service/query/FriendQueryServiceTest.java
Labels: api fix

#475 fix : 그룹 캡슐 개봉 로직 수정
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/entity/Capsule.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/entity/GroupCapsuleOpen.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/generic_capsule/repository/CapsuleRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/CapsuleOpenStatus.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleOpenStateDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleOpenStateResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleOpenQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleOpenRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleService.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/common/supplier/ZonedDateTimeSupplier.java
  backend/core/src/main/java/site/timecapsulearchive/core/global/error/ErrorCode.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/domain/CapsuleFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/domain/GroupCapsuleOpenFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleOpenQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleServiceTest.java
Labels: api fix

#482 feat : 그룹 캡슐 목록 조회 #476
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleSliceRequestDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleSliceResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepositoryImpl.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/domain/CapsuleFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/CapsuleBasicInfoDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleServiceTest.java
Labels: feat

#491 fix : 그룹 캡슐 요약 조회 api 수정 #490
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/CombinedGroupCapsuleSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleDetailDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleMemberDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleMemberSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupCapsuleSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleDetailResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleMemberResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleMemberSummaryResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleSummaryResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleService.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/group/data/dto/GroupMemberSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepositoryImpl.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/CapsuleDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/GroupCapsuleMemberDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/GroupCapsuleSummaryDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleServiceTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/group/repository/GroupQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/repository/MemberGroupQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/member_group/repository/member_group_repository/MemberGroupQueryRepositoryImplTest.java
Labels: api fix

#493 feat : 보물 캡슐 요약 조회 기능 개발 및 보물 찾기 기능 응답 값 수정
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/generic_capsule/repository/capsule/CapsuleQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/generic_capsule/repository/capsule/CapsuleQueryRepositoryImpl.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/api/TreasureCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/api/TreasureCapsuleController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/data/dto/TreasureCapsuleOpenDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/data/dto/TreasureCapsuleSummaryDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/data/response/TreasureCapsuleOpenResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/data/response/TreasureCapsuleSummaryResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/treasure_capsule/service/TreasureCapsuleService.java
Labels: feat, api fix

#498 fix : 그룹 캡슐에 대한 그룹원 목록 조회 수정 #496
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupMemberCapsuleOpenStatusDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleMembersResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsulePageResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupMemberCapsuleOpenStatusListResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupMemberCapsuleOpenStatusResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleOpenQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleService.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/GroupMemberCapsuleOpenStatusDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleServiceTest.java
Labels: api fix

#497 fix : 그룹 캡슐 API 수정 #495
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApi.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/api/GroupCapsuleApiController.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/dto/GroupMemberCapsuleOpenStatusDto.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsuleMembersResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupCapsulePageResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupMemberCapsuleOpenStatusListResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/data/response/GroupMemberCapsuleOpenStatusResponse.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleOpenQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepository.java
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleService.java
  backend/core/src/test/java/site/timecapsulearchive/core/common/fixture/dto/GroupMemberCapsuleOpenStatusDtoFixture.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/repository/GroupCapsuleQueryRepositoryTest.java
  backend/core/src/test/java/site/timecapsulearchive/core/domain/capsule/group_capsule/service/GroupCapsuleServiceTest.java
Labels: api fix

#502 fix : 그룹 캡슐 목록 조회 수정 #501
  backend/core/src/main/java/site/timecapsulearchive/core/domain/capsule/generic_capsule/repository/capsule/CapsuleQueryRepositoryImpl.java
Labels: api fix
